/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Cabeçalho */
header {
    background-color: ##622e85;
    padding: 10px 0;
    color: white;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Layout */
main {
    display: flex;
    flex: 1;
    padding: 20px;
}

#conteudo {
    flex: 2;
}

aside {
    flex: 1;
    margin-left: 20px;
    background-color: #e0e0e0;
    padding: 10px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Tema escuro */
body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #222;
}

body.dark-mode aside {
    background-color: #444;
}