/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho e navegação */
header {
    background-color: #622E85;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para o conteúdo principal */
main {
    flex: 1;
    margin-top: 20px;
}

h2 {
    color: #622E85;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

pre {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

/* Seções específicas */
section {
    margin-bottom: 40px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    pre {
        font-size: 0.8rem;
    }
}