/* Definições gerais para o body */
body {
    background-color: Tan;
    background-image: url('background.jpg');
    background-position: right top;
    color: #000000;
    font-family: Helvetica, sans-serif;
}

/* Estilo para h1 */
h1 {
    color: DarkRed;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 18pt;
}

/* Estilo para h2 */
h2 {
    color: #000000;
    text-align: left;
    font-family: Verdana, sans-serif;
    font-size: 14pt;
    background-color: yellow;
}

/* Estilo para o parágrafo principal */
p.main {
    color: DarkBlue;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    text-indent: 20pt;
}

/* Decoração de texto */
p.underline {
    text-decoration: underline;
}

p.overline {
    text-decoration: overline;
}

p.line-through {
    text-decoration: line-through;
}

/* Transformação de texto */
p.uppercase {
    text-transform: uppercase;
}

p.lowercase {
    text-transform: lowercase;
}

p.capitalize {
    text-transform: capitalize;
}

/* Outras propriedades de texto */
p.letter-spacing {
    letter-spacing: 2px;
}

p.line-height {
    line-height: 1.8;
}